body {
  background: linear-gradient(#0c1830 65%, #122345 85%, #13254ae0 95%);
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 10000px;
  }
}
@-webkit-keyframes move-clouds-back {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 10000px;
  }
}
@-moz-keyframes move-clouds-back {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 10000px;
  }
}
@-ms-keyframes move-clouds-back {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 10000px;
  }
}
